body {
  background-image: url("dog_graphic.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Sacramento', cursive; 
}

.content-container {
  background-color: rgba(255, 255, 255, 0.8); 
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  width: 60%; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

a,
.btn-danger { 
  color: #8B0000; 
}